#container{
    width: 50%;
    margin: 30px auto;
    border: 1px solid #000;
    background-color: #94d5da;
}
body{
    background-color: antiquewhite;
}
 h1{
    text-align: center;
 }
 #form{
    border: 1px solid #000;
    padding: 20px auto;
    margin: 20px;
 }
 div{
     margin-bottom: 20px;
     padding-left: 10px;
 }
